---
# Buildarr main configuration file.

# Include the following Buildarr configuration files.
includes:
  - "sonarr.yml"
  - "prowlarr.yml"

# Buildarr daemon configuration.
buildarr:
  watch_config: true
  # update_days:
  #   - "monday"
  #   - "tuesday"
  #   - "wednesday"
  #   - "thursday"
  #   - "friday"
  #   - "saturday"
  #   - "sunday"
  # update_times:
  #   - "03:00"
  # request_timeout: 30
  # secrets_file_path: "secrets.json"
